<h1>Aztec diamond renderer</h1>
<div class="main-content">
  <main>
    <app-aztec-diamond [diamond]="diamond"></app-aztec-diamond>
  </main>
  <div role="menu" class="config-menu">
    <h2>Control panel</h2>

    <p>Current size: {{diamond.rows.length/2}}</p>
    <p>Next step: {{stageNames[nextStageIndex]}}</p>

    <div class="btn-group">
      <button type="button" class="btn btn-outline-primary" (click)="nextStage()">Next step</button>
      <button type="button" class="btn btn-outline-primary" (click)="nextSize()">Skip to next size</button>
    </div>
  </div>
</div>
